.characteristic {
    display: grid;
    grid-template: 1fr / minmax(auto, 70%) minmax(auto, 30%);
    column-gap: 1rem;
}

.characteristic__block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.characteristic-group__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.characteristic-group__text {
    color: rgb(123, 123, 123);
    font-size: var(--texst-size-c);
    font-weight: 400;
    line-height: 90%;
    text-align: left;
}

.characteristic-group__specifications {
    display: flex;
    flex-direction: column;
}

.specifications__menu {
    border-radius: 8px;
    background: rgb(244, 244, 244);
    padding: 0.6rem 1rem;
}

.specifications__list {
    border-radius: 8px;
    padding: 1rem;
    background: rgb(244, 244, 244);
}

.nav.nav-tabs {
    display: flex;
    gap: 2.3rem;
}

.nav-tabs>li {
    float: left;
    list-style-type: disc;
}

.nav-tabs>li>a {
    padding-top: .25rem;
    padding-bottom: .25rem;
    line-height: 1.5rem;
    color: rgba(32, 32, 32, 0.4);
    font-size: 18px;
    font-weight: 500;
    line-height: 90%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.specifications__item::marker.active {
    background: rgb(32, 32, 32);
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:focus,
.nav-tabs>.active>a:hover {
    color: var(--color-f);
    border-radius: 8px;
    background: rgb(32, 32, 32);
    padding: 0.6rem 1rem;
}

.tab-content {
    width: 100%;
    display: block;
}

.tab-content .tab-pane {
    display: none;
    padding: 1rem 0;
}

.tab-content>.tab-pane.active {
    display: block;
}

.specifications__line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(32, 32, 32, 0.1);
    padding-bottom: 0.8rem;
}

.bold-black {
    color: rgb(32, 32, 32);
    font-size: var(--texst-size-m);
    font-weight: 400;
    line-height: 90%;
    text-align: center;
}

.specifications__text {
    color: rgb(123, 123, 123);
    font-size: var(--texst-size-m);
    font-weight: 400;
    line-height: 90%;
    text-align: right;
}

@media screen and (max-width: 1200px) {

    .specifications__menu {
       padding: 0.6rem 0.5rem;
    }

    .nav.nav-tabs {
        gap: 0;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 768px) {

    .characteristic {
        grid-template: 1fr / 1fr;
    }
}