.delivery__block {
    display: flex;
    flex-direction: column;
}

.delivery__inner {
    ddisplay: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 10% 40px 1fr;
    grid-template: 1fr / 10% 2fr 1fr;
    gap: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    border-bottom: 1px solid #E5E5E5;
    padding: 1.5rem 0;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.delivery__inner:checked~.delivery__group::before {
    transform: rotate(180deg) translateY(6px);
}

.delivery__number {
    -webkit-appearance: none;
    appearance: none;
}

.delivery__aroww {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.delivery__img {
    border-radius: 8px;
    background: rgb(244, 244, 244);
    padding: 0.6rem;
    transition: transform 0.5s linear;
    transform: rotateX(180deg);
}

.imag {
    transform: rotateX(0deg);
    background: #202020;
}

.delivery__number::before {
    content: "01";
    color: rgb(123, 123, 123);
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
}

.delivery__group {
    display: none;
    max-height: 0;
}

.delivery__number:checked~.delivery__group {
    max-height: 100%;
    overflow: hidden;
    transition: 0.4s;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.delivery__text {
    color: rgb(123, 123, 123);
    font-size: var(--texst-size-c);
    font-weight: 400;
    line-height: 90%;
}

.delivery__subtitle {
    color: rgb(32, 32, 32);
    font-size: var(--texst-size-c);
    font-weight: 500;
    line-height: 90%;
}

.delivery__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.delivery__item {
    list-style: disc;
    list-style: disc;
    list-style-position: inside;
}